@media screen and (max-width: 375px) {

  h4 {
    font-size: 2.2em;
    padding: 10px 2px;
    text-align: center;
  }

  p {
    font-size: 1.5em !important;
  }

  .header {
    position: fixed !important;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 70px !important;
  }

  .row.p-5.mt-20.mb-50.bor-10.bg-grey {
    display: none !important;
  }

  .nov-11 {
    display: none !important;
  }

  .nov-20 {
    width: unset !important;
    height: auto;
  }

  .btn-red {
    font-size: 2em;
  }

  .container {
    padding-top: 70px;
    width: unset !important;
  }

  .col-30.bg-grey.p-5.menu {
    display: none;
  }

  .p-5 {
    width: 100%;
    padding-left: unset !important;
    padding-top: unset !important;
  }

  .mt-7 {
    margin: 0 !important;
  }

  .description {
    width: 100%;
  }

  .row {
    display: flex !important;
    flex-direction: column !important;
    height: unset !important;
    width: unset !important;
  }
}


.col-6 {
  width: 100%;
  height: auto;
}